.accordion {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    row-gap: 10px;
  }

  @include vp-767 {
    row-gap: 9px;
  }
}

.accordion__element {
  padding: 42px 40px 38px 40px;
  width: 100%;
  border: 1px solid $color-cerulean-blue;
  border-radius: 16px;

  @include vp-1199 {
    padding: 30px 29px 29px 29px;
  }

  @include vp-767 {
    padding: 20px 15px 19px 15px;
  }
}

.accordion__element--fourth,
.accordion__element--fifth  {
  padding: 32px 40px 33px 40px;

  @include vp-1199 {
    padding: 25px 29px 24px 29px;
  }

  @include vp-1199 {
    padding: 20px 15px 20px 15px;
  }
}

.accordion__button {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  color: $color-cerulean-blue;
  border: none;
  background-color: $color-alabaster;

  @include vp-1199 {
    align-items: center;
  }
}

.accordion__button span:nth-child(1n){
  margin: 0;
  padding: 0;
  width: 72%;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  text-align: start;

  @media (min-width: 1200px) and (max-width: 1440px) {
    font-size: calc(26px + (28 - 26) * ( (100vw - 1200px) / ( 1440 - 1200) ));
  }

  @include vp-1199 {
    max-width: 500px;
    font-size: 22px;
    line-height: 26px;
    width: 80%;
  }
  @include vp-767 {
    width: 88%;
    font-size: 16px;
    line-height: 18px;
  }
}

.accordion__span br {
  display: none;
}

.accordion__button span:nth-child(2n) {
  position: relative;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $color-cerulean-blue;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/sprite/plus.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.is-active span:nth-child(2n) {
  position: relative;
  background-color: $color-default-white;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/sprite/minus.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.accordion__element--fourth span:nth-child(2n),
.accordion__element--fifth span:nth-child(2n)  {
  margin-top: 10px;

  @include vp-1199 {
    margin-top: 0;
  }
}

.is-active .accordion__button {
  background-color: $color-cerulean-blue;
  color: $color-default-white;
}

.accordion__content {
  width: 100%;
  max-width: 637px;

  @include vp-1199 {
    width: 87%;
    max-width: unset;
  }

  @include vp-767 {
    width: 100%;
  }
}

.accordion__content p {
  margin: 10px 0 0 0;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  @include vp-1199 {
    line-height: 20px;
    margin-top: 15px;
  }

  @include vp-767 {
    line-height: 20px;
    font-size: 14px;
  }
}

.accordion__element.is-active {
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  padding-bottom: 33px;

  @include vp-1199 {
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-bottom: 14px;
  }
}