.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 54px;
  padding: 4px 4px 4px 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  border-radius: 30px;
  color: $color-cerulean-blue;
  background-color: $color-default-white;
  border: 1px solid  $color-cerulean-blue;
  user-select: none;
  cursor: pointer;

  &--light {
    color: $color-cerulean-blue;
    background-color: $color-default-white;
    border: 1px solid  $color-cerulean-blue;

    &:hover,
    &:focus {
      background-color: $color-cerulean-blue;
      border: 1px solid $color-default-white;
      color: $color-default-white;
      outline: none;
    }
  }

  &--dark {
    color: $color-default-white;
    background-color: $color-cerulean-blue;
    border: 1px solid $color-default-white;

    &:hover,
    &:focus {
      color: $color-cerulean-blue;
      background-color: $color-default-white;
      border: 1px solid  $color-cerulean-blue;
      outline: none;
    }
  }
}


.btn:hover .diagonal-row--light,
.btn:focus .diagonal-row--light {
  background-color: $color-default-white;
}

.btn:hover .diagonal-row--light::after,
.btn:focus .diagonal-row--light::after {
  background-color: $color-cerulean-blue;
  mask-image: url("../img/sprite/button-right-arrow.svg");
  width: 12px;
  height: 11px;
  outline: none;
}

.btn:hover .diagonal-row--dark,
.btn:focus .diagonal-row--dark {
  background-color: $color-cerulean-blue;
}

.btn:hover .diagonal-row--dark::after,
.btn:focus .diagonal-row--dark::after {
  background-color: $color-default-white;
  mask-image: url("../img/sprite/button-right-arrow.svg");
  width: 12px;
  height: 11px;
  outline: none;
}
