.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 54px;
  padding: 4px 4px 4px 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  border-radius: 30px;
  color: $color-cerulean-blue;
  background-color: $color-default-white;
  border: 1px solid  $color-cerulean-blue;
  user-select: none;
  cursor: pointer;

//   transition: opacity $trans-default;

//   &--red {
//     background-color: $color-torch-red;
//   }

//   &:disabled {
//     opacity: 0.5;

//     pointer-events: none;
//   }

//   @include hover-focus {
//     opacity: 0.8;
//   }
}
