.conditions {
  background-color: $color-cerulean-blue;
  color: $color-default-white;
}

.conditions__container {
  padding-top: 123px;
  padding-bottom: 108px;
  display: grid;
  grid-template-columns: 40.1%  40.1%;
  column-gap: 11.1%;

  @include vp-1199 {
    grid-template-columns: 100%;
    max-width: 968px;
    padding-top: 98px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    max-width: unset;
    padding-top: 68px;
    padding-bottom: 69px;
  }
}

.conditions__wrapper-1,
.conditions__wrapper-2 {
  display: flex;
  flex-direction: column;
}

.conditions__wrapper-1 h2 {
  margin: 0 0 30px 0;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;

  @include vp-1199 {
    width: 75%;
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 28px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 14px;
  }
}

.conditions__wrapper-1 p {
  margin: 0 0  6.5% 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  @include vp-1199 {
    width: 75%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 36px;
  }

  @include vp-767 {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }
}

.conditions__pictire {
  @include vp-1199 {
    width: 100%;
    height: fit-content;
    min-height: 375px;
    min-width: 678px;
    max-width: 100%;
  }

  @include vp-767 {
    min-height: 200px;
    min-width: 290px;
  }
}

.conditions__pictire img {
  @include vp-1199 {
  width: 100%;
  height: 100%;
  }
}

.conditions__wrapper-2 h3 {
  margin: 3px 0 57px 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;

  @include vp-1199 {
    font-size: 28px;
    line-height: 28px;
    margin-top: 45px;
    margin-bottom: 43px;
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 22px;
    margin-top: 35px;
    margin-bottom: 26px;
  }
}

.conditions__list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 0;
  margin: 0 0 0 20px;
  list-style-type: none;
  counter-reset: counter-name;

  @include vp-1199 {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 7%;
    row-gap: 28px;
  }

  @include vp-767 {
    flex-direction: column;
    margin-left: 15px;
    row-gap: 15px;
  }
}


.conditions__item {
  width: 478px;
  position: relative;
  padding: 23px 25px;
  border-radius: 16px;
  border: 1px solid $color-default-white;

  &::after {
    position: absolute;
    counter-increment: counter-name;
    content: counter(counter-name);
    width: 42px;
    height: 42px;
    top: -17px;
    left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 22px;
    font-family: "Manrope", "Arial", sans-serif;
    font-size: 22px;
    background-color: $color-cerulean-blue;
    color: $color-default-white;
    z-index: 555;
  }

  @include vp-1199 {
    width: 46.3%;
    padding: 24px 25px;
  }

  @include vp-767 {
    width: 100%;
    padding: 18px 25px;

    &::after {
      width: 32px;
      height: 32px;
      top: -5px;
      left: -16px;
      line-height: 18px;
      font-size: 18px;
    }
  }
}

.conditions__item p {
  width: 90%;
  margin: 0;

  @include vp-1199 {
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  @include vp-767 {
    width: 94%;
    font-size: 14px;
    line-height: 20px;
  }
}
