.custom-toggle {
  position: relative;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  display: flex;
  width: 100%;
  padding: 0;
  margin-bottom: 29px;

  @include vp-1199 {
    row-gap: 11px;
    margin-bottom: 26px;
  }

  @include vp-767 {
    margin-bottom: 9px;
  }

  &:last-of-type {
    padding: 0;
  }

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  &__label {
    width: 100%;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    cursor: pointer;
  }

  &--checkbox {
    .custom-toggle__icon {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffff;
      width: 20px;
      height: 20px;
      border-radius: 2px;

      border: 2px solid #ffffff;

      transition: border 0.3s ease;

      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        width: 10px;
        height: 10px;
        background-color: $color-default-white;

        transform: translate(-50%, -50%);
        transition: background-color 0.3s ease;
      }
    }
  }

  &--radio {
    .custom-toggle__icon {
      position: absolute;
      top: 0;
      left: 0;

      width: 28px;
      height: 28px;

      border: 1px solid #2c39f2;
      border-radius: 50%;

      transition: border 0.3s ease;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 20px;
        height: 20px;

        color: rgba(255, 255, 255, 0);

        border-radius: 50%;
        transform: translate(-50%, -50%);

        transition: color 0.3s ease;
      }
    }
  }

  input:checked + .custom-toggle__icon {
    border: 1.5px solid #2c39f2;

    &::before {
      mask-image: url("../img/sprite/check.svg");
      background-color: rgba(49, 109, 194, 0.7);
    }
  }

  &.is-invalid {
    label span {
      color: $color-default-charcoal;
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
