.custom-input {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  width: 100%;
  padding: 0;

  @include vp-1199 {
    row-gap: 8px;
  }

  @include vp-767 {
    row-gap: 12px;
  }

    input {
      flex-grow: 1;
      width: 100%;
      max-width: 100%;
      min-height: 50px;
      margin-left: auto;
      padding: 10px;
      border-radius: 8px;
      background-color: $color-cerulean-blue;

      // border: 2px solid rgba(#ffffff, 0.3);
      outline: none;

      transition: border 0.3s ease;

      // @media screen and (max-width: 767px) {
      //   max-width: unset;
      //   width: 100%;
      // }

      // &:hover {
      //   border: 2px solid rgba(#000000, 0.5);
      // }

      // &:focus {
      //   border: 2px solid rgba(#000000, 0.8);
      // }
    }



 &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      background-color: $color-wild-watermelon-transparent;
      border: 1px solid $color-wild-watermelon;

      &:focus,
      &:hover {
        background-color: $color-wild-watermelon-transparent;
      border: 1px solid $color-wild-watermelon;
      }
    }
  }


  &.is-valid {
    input {
      border: 2px solid #22b259;

      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
    }
  }


  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
