.header {
  position: absolute;
  content:"";
  width: 100%;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  z-index: 3;
}

.header--active .header__logotype {
  opacity: 0.4;
}
