.header {
  position: absolute;
  content:"";
  width: 100%;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  z-index: 3;

  @include vp-767 {
    padding-top: 19px;
  }
}

.header--active .header__logotype {
  opacity: 0.4;

  @include vp-767 {
    display: none;
  }
}
