.hero-slider {
  min-height: 800px;
  background-color: $color-rodeo-dust;
}

.hero-slider img {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  min-height: 800px;
  object-fit: cover;
  z-index: -1;
}

.hero-slider__wrapper {
  padding: 410px 100px 0 100px;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-slider__btn {
  margin-top: 10px;
  min-width: 196px;
  padding-left: 30px;
}

.hero-slider__btn span:nth-child(2n) {
  position: relative;
  display: block;
  height: 46px;
  width: 46px;
  background-color: $color-cerulean-blue;
  border-radius: 50%;
  margin: 0;
}

.hero-slider__btn span:nth-child(2n)::after {
  position: absolute;
  content: url("../img/sprite/diagonal-arrow.svg");
  top: 17px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 8px;
  height: 8px;
}

.hero-slider__title-wrapper {
  max-width: 968px;
  width: 100%;
  padding: 40px 50px 30px 50px;
  margin-top: -2px;
  background-color: $color-default-white;
  border-radius: 0px 30px 30px 0px;
}

.hero-slider__title-wrapper h2 {
  padding: 0;
  margin: 0;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  color: $color-cerulean-blue;
}

.hero-slider__inner-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: -6px;
  padding: 0 50px 27px 50px;
  width: 772px;
  background-color: $color-default-white;
  border-radius: 0px 0px 30px 30px;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/sprite/angle-bottom.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    top: 5px;
    left: 100%;
    z-index: 15;
  }
}


.hero-slider__inner-wrapper p {
  width: 446px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: $color-default-charcoal;
}

.hero-slider__pagination-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 94px;
  min-height: 38px;
  border-radius: 20px 20px 0 0;
  background-color: $color-default-white;
  padding: 0 5px 0 20px;

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    bottom: 0;
    left: 99.9%;
    background-image: url("../img/sprite/angle-top.svg");
    background-repeat: no-repeat;
  }
}

.hero-slider__pagination {
  height: auto;
  position: static;
  text-align: start;
}

.hero-slider__pagination  .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background-color: transparent;
  border: 1px solid $color-cerulean-blue;
  gap:7px;
  opacity: 1;
  margin: 0;
  margin-right: 13px;
}

.hero-slider__pagination .swiper-pagination-bullet-active {
  background-color: $color-cerulean-blue;
}

