.map {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 500px;
  margin: 0 auto;
  border-radius: 16px;

  @include vp-767 {
    height: 240px;
  }
}

.map__static-map {
  position: relative;
  min-height: 500px;
  grid-column: 1/2;
  grid-row: 1/2;

  &::after {
    position: absolute;
    content: "";
    width: 70px;
    height: 70px;
    top: 16.3%;
    left: 49%;
    background-image: url("../img/sprite/pin.svg");
    background-size: 70px 70px;
    background-repeat: no-repeat;

    @include vp-1199 {
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
      top: 21.2%;
      left: 50%;
    }

    @include vp-767 {
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
      top: 56.6%;
      left: 69.6%;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: -40px;
    left: 0;
    background-color: $color-default-white;
    opacity: 0.2;
    margin: 0 auto;

    @include vp-1199 {
      top: -33px;
    }
  }

  @include vp-767 {
    min-height: unset;
    height: 240px;
  }
}


.map__static-map img {
  width: 100%;
  min-height: 500px;
  object-fit: cover;
  border-radius: 16px;

  @include vp-1199 {
    margin: 0;
  }

  @include vp-767 {
    min-height: unset;
    height: 240px;
  }
}

.map__interactive-map {
  position: relative;
  display: block;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 500px;
  margin: 0;
  border-radius: 16px;

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    height: 240px;
  }
}

.map__map-pin {
  width: 70px;
  height: 70px;

  @include vp-1199 {
    width: 40px;
    height: 40px;
  }

  @include vp-767 {
    width: 24px;
    height: 24px;
  }
}
