.nav--opened {
  @include vp-767 {
    min-width: 290px;
    width: 95%;
    margin: 0 auto;
  }
}

.nav__btn {
  width: 134px;
  max-width: 134px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 54px;
  padding: 4px 4px 4px 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  border-radius: 30px;
  color: $color-cerulean-blue;
  background-color: $color-default-white;
  border: 1px solid  $color-cerulean-blue;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-cerulean-blue;
    border: none;
    color: $color-default-white;
    outline: none;

    & span:nth-child(2n) {
      background-color: $color-default-white;
      outline: none;

      &::after {
        background-color: $color-cerulean-blue;
      }
    }
  }
}

.nav__btn span:nth-child(1n) {
  width: 44px;
  max-width: 44px;
}

.nav__btn span:nth-child(2n) {
  position: relative;
  flex-grow: 0;
  display: block;
  height: 46px;
  width: 46px;
  background-color: $color-cerulean-blue;
  border-radius: 50%;
  margin: 0;

  &::after {
    position: absolute;
    content: "";
    mask-image: url("../img/sprite/menu.svg");
    background-color: $color-default-white;
    top: 12px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 18px;
    height: 18px;
  }
}

.nav__list {
  display: none;
}

.nav--opened .nav__btn {
  position: relative;
  max-width: 286px;
  width: 286px;
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  z-index: 555;
  margin-bottom: 4px;

  @include vp-767 {
    min-width: 290px;
    width: 100%;
    margin: 0 auto 4px auto;
    max-width: 90%;
  }
}

.nav--opened span:nth-child(2n) {
  background-color: $color-default-white;

  &::after {
    mask-image: url("../img/sprite/cross.svg");
    background-color: $color-cerulean-blue;
    top: 12px;
    width: 20px;
    height: 20px;
  }
}

@keyframes showMenu {
  0% {
    height: 0%;
  }

  100% {
    max-height: calc(100vh - 88px);
  }
}

.nav--opened .nav__list {
  display: flex;
  flex-direction: column;
  max-width: 286px;
  width: 286px;
  max-height: 398px;
  overflow: auto;
  margin: 0;
  padding: 30px 25px 12px 25px;
  list-style-type: none;
  background-color: $color-cerulean-blue;
  border-radius: 16px;
  animation-name: showMenu;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

  @include vp-1199 {
    padding: 28px 25px 12px 25px;
  }

  @include vp-767 {
    min-width: 290px;
    width: 90%;
    max-width: 100%;
    padding: 28px 25px 13px 24px;
    max-height: calc(100vh - 78px);
    margin: 0 auto;
  }
}


.nav__item {
  margin-bottom: 18px;

  @include vp-1199 {
    margin-bottom: 20px;
  }

  @include vp-767 {
    margin-bottom: 20px;
  }
}

.nav__item--margin-1 {
  @include vp-1199 {
    margin-bottom: 16px;
  }
}

.nav__item--margin-2 {
  @include vp-1199 {
    margin-bottom: 18px;
  }
}

.nav__item--margin {
  @include vp-767 {
    margin-bottom: 14px;
  }
}

.nav__item a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: $color-default-white;
  opacity: 0.7;

  &:hover,
  &:focus-visible {
    outline: none;
    opacity: 1;
  }
}

.nav__dropdown-item {
  margin: 0 0 4px 0;
}

.nav__dropdown-item a {
  text-transform: none;

  @include vp-1199 {
    letter-spacing: 0;
  }

  @include vp-767 {
    margin-left: 2px;
  }
}

.nav__item--button-open button {
  margin-bottom: 13px;
  opacity: 1;
}

.nav__button-dropdown {
  position: relative;
  display: flex;
  justify-content: start;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  opacity: 0.7;
  border: none;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    outline: none;
    opacity: 1;
  }
}

.nav__button-dropdown span {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/sprite/arrow-down.svg");
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    top: 2px;
    left: calc(100% + 10px);
    opacity: 0.7;
  }
}


.nav__button-dropdown:hover span::after,
.nav__button-dropdown:focus-visible span::after {
  outline: none;
  opacity: 1;
}

.nav__dropdown-list {
  padding: 0;
  margin-left: 15px;
  list-style-type: none;
  display: none;
}

.nav__item-dropdown {
  margin-bottom: 18px;

  @include vp-767 {
    margin-bottom: 14px;
  }
}

.nav__item--margin-3 {
  @include vp-767 {
    margin-bottom: 19px;
  }
}


.nav__item--button-open {
  margin-bottom: 12px;
}

.nav__item--button-open span::after {
  transform: rotate(180deg);
  opacity: 1;
}

.nav__item--button-open .nav__dropdown-list {
  display: block;
}

.nav__item-dropdown--programs {
  @include vp-1199 {
    margin-bottom: 14px;
  }
}
