.news__container {
  display: flex;
  flex-direction: column;
  padding-top: 123px;
  padding-bottom: 123px;
  color: $color-cerulean-blue;

  @include vp-1199 {
    padding-top: 98px;
    padding-bottom: 99px;
  }

  @include vp-767 {
    padding-top: 68px;
    padding-bottom: 67px;
  }
}

.news__container h2 {
  width: 515px;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  margin: 0 auto 45px auto;

  @include vp-1199 {
    font-size: 34px;
    margin-bottom: 31px;
    width: 350px;
  }

  @include vp-767 {
    width: 206px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 29px;
  }
}

.news__buttons-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2.4%;
  list-style-type: none;
  padding: 0;
  margin: 0 auto 35px auto;

  @include vp-1199 {
    column-gap: 1.5%;
    margin-bottom: 29px;
  }

  @include vp-767 {
    flex-wrap: nowrap;
    justify-content: unset;
    column-gap: 4%;
    overflow-x: auto;
    margin: 0 auto 12px auto;
    max-width: 557px;
    padding-bottom: 11px;
  }
}

.news__button {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  padding: 14px 26px;
  opacity: 0.6;
  border: none;
  background-color: transparent;
  color: $color-cerulean-blue;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    outline: none;
    opacity: 1;
  }

  @include vp-1199 {
    padding: 12px 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
    padding: 8px 14px;
  }
}

.news__button--current {
  border: 1px solid $color-cerulean-blue;
  border-radius: 20px;
  opacity: 1;
}

.news__swiper {
  overflow: hidden;
}

.news__swiper-wrapper {
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 20px;
    justify-content: start;
  }
}

.news__move-slide {
  width: 100%;
  min-height: 32px;
  display: flex;
  align-items: center;
}

.news__button-prev,
.news__button-next {
  display: flex;
  align-items: center;
  height: 22px;
  width: 22px;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    border-radius: 50%;
  }

  & svg {
    stroke: $color-cerulean-blue;
  }

  &:active {
    background-color: $color-default-white;
    border-radius: 50%;

    & svg {
      opacity: 0.7;
    }
  }
}

.news__button-next {
  justify-content: flex-end;
}

.news__pagination {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  width: 96%;

  @include vp-767 {
    column-gap: 16px;
  }
}

.news__pagination .swiper-pagination-bullet {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  color: $color-cerulean-blue;
  opacity: 1;
  background: transparent;

  @include vp-767 {
    width: 26px;
    height: 26px;
  }
}

.news__pagination .swiper-pagination-bullet-active {
  color: $color-default-white;
  background: $color-cerulean-blue;
}
