.news-slider {
  position: relative;
  border-radius: 12px;
  height: auto;
  width: 24.4%;
  max-width: 286px;
  overflow: hidden;

  @media (max-width: 1250px) {
    max-width: 242px;
  }

  &:first-child {
    width: 48.8%;
    max-width: 604px;

    @media (max-width: 1250px) {
      max-width: 493px;

      @include vp-1199 {
        max-width: unset;
      }
    }

    @include vp-1199 {
      min-width: 324px;
      max-width: 100%;
    }

    @include vp-767 {
      min-width: 290px;
      height: 73vw;
      min-height: 330px;
      max-width: 100%;
    }
  }

  @include vp-1199 {
    min-width: 324px;
    min-height: 350px;
    max-width: 100%;
  }

  @include vp-767 {
    min-width: 290px;
    max-width: 100%;
  }
}

.news-slider--first {
  @include vp-1199 {
    order: 1;
  }
}

.news-slider--second {
  @include vp-1199 {
    order: 4;
  }
}

.news-slider--third {
  @include vp-1199 {
    order: 3;
  }
}

.news-slider--fourth {
  @include vp-1199 {
    order: 2;
  }
}

.news-slider--fifth {
  @include vp-1199 {
    order: 7;
  }

  @include vp-767 {
    height: 53vw;
    min-height: 240px;
  }
}

.news-slider--sixth {
  @include vp-1199 {
    order: 6;
  }

  @include vp-767 {
    height: 53vw;
    min-height: 240px;
  }
}

.news-slider--seventh {
  @include vp-1199 {
    order: 5;
  }

  @include vp-767 {
    height: 53vw;
    min-height: 240px;
  }
}

.news-slider img {
  object-fit: cover;
  border-radius: 12px;

  @include vp-1199 {
    width: 100%;
    height: 100%;
  }
}

.news-slider__content {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  @include vp-1199 {
    width: 88.1%;
  }

  @include vp-767 {
    width: 90.5%;
  }
}

.news-slider__content-h3 br {
  @include vp-767 {
    display: none;
  }
}

.news-slider:first-child .news-slider__content {
  width: 69.3%;

  @include vp-1199 {
    width: 79.5%;
  }

  @include vp-767 {
    width: 90.6%;
  }
}

.news-slider__content time {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
  margin: 0;
  padding: 8px 12px 10px 0;
  border-radius: 0 12px 0 0;
  background-color: $color-alabaster;

  &::after {
    position: absolute;
    content: "";
    mask-image: url("../img/sprite/angle-top.svg");
    background-color: $color-alabaster;
    width: 18px;
    height: 18px;
    left: 99%;
    bottom: 7px;
  }

  &::before {
    position: absolute;
    content: "";
    mask-image: url("../img/sprite/angle-top.svg");
    background-color: $color-alabaster;
    width: 18px;
    height: 18px;
    left: 0;
    top: -16px;
  }
}

.news-slider:first-child time {
  position: relative;
  padding: 7px 12px 12px 0;
  width: 20%;
  background-color: $color-alabaster;

  &::after {
    position: absolute;
    content: "";
    mask-image: url("../img/sprite/angle-top.svg");
    background-color: $color-alabaster;
    width: 16px;
    height: 16px;
    left: 99%;
    bottom: 10px;
  }

  &::before {
    position: absolute;
    content: "";
    mask-image: url("../img/sprite/angle-top.svg");
    background-color: $color-alabaster;
    width: 16px;
    height: 16px;
    left: 0;
    top: -15px;
  }

  @include vp-767 {
    padding-top: 9px;
  }
}

.news-slider__content h3 {
  position: relative;
  width: 75%;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding: 6px 12px 0 0;
  border-radius: 0 12px 0 0;
  background-color: $color-alabaster;

  @media (min-width: 1200px) and (max-width: 1440px) {
    font-size: calc(19px + (24 - 19) * ( (100vw - 1200px) / ( 1440 - 1200) ));
  }

  &::after {
    position: absolute;
    content: "";
    mask-image: url("../img/sprite/angle-top.svg");
    background-color: $color-alabaster;
    width: 18px;
    height: 18px;
    left: 99.6%;
    bottom: 0;
  }

  @include vp-1199 {
    width: 73%;
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-767 {
    width: 76.2%;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 12px 5px 0;
  }
}

.news-slider:first-child h3 {
  position: relative;
  margin-top: -1px;
  padding: 15px 12px 6px 0;
  width: 70%;

  &::after {
    position: absolute;
    content: "";
    mask-image: url("../img/sprite/angle-top.svg");
    background-color: $color-alabaster;
    width: 18px;
    height: 18px;
    left: 99.8%;
    bottom: 2px;
  }

  @include vp-1199 {
    width: 80%;
    padding: 5px 12px 3px 0;
  }

  @include vp-767 {
    width: 76%;
    font-size: 16px;
    line-height: 18px;
    padding: 11px 12px 6px 0;
  }
}

.news-slider__content p {
  position: relative;
  width: 84%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: -1px 0 0 0;
  border-radius: 0 12px;
  padding: 8px 18px 12px 0;
  background-color: $color-alabaster;

  &::after {
    position: absolute;
    content: "";
    mask-image: url("../img/sprite/angle-top.svg");
    background-color: $color-alabaster;
    width: 18px;
    height: 18px;
    left: 99.6%;
    bottom: 0;
  }

  @include vp-1199 {
    padding: 8px 18px 10px 0;
  }

  @include vp-767 {
    padding: 13px 9px 9px 0;
    width: 100%;
  }
}

.news-slider:first-child p {
  position: relative;
  margin-top: -3px;
  width: 93%;
  padding: 8px 18px 11px 0;

  &::after {
    position: absolute;
    content: "";
    mask-image: url("../img/sprite/angle-top.svg");
    background-color: $color-alabaster;
    width: 19px;
    height: 19px;
    left: 99.5%;
    bottom: 0;
  }

  @include vp-1199 {
    padding: 8px 18px 10px 0;
  }

  @include vp-767 {
    width: 100%;
    padding: 13px 9px 9px 0;
  }
}

.news-slider__content span:nth-child(1n) {
  width: 79%;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  max-width: 176px;

  @media (min-width: 1200px) and (max-width: 1440px) {
    font-size: calc(10px + (14 - 10) * ( (100vw - 1200px) / ( 1440 - 1200) ));
  }

  @include vp-1199 {
    width: 80%;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.news-slider__content--first span:nth-child(1n) {
  width: 88%;
  max-width: unset;

  @media (min-width: 1200px) and (max-width: 1440px) {
    font-size: calc(10px + (14 - 10) * ( (100vw - 1200px) / ( 1440 - 1200) ));
  }

  @include vp-1199 {
    width: 80%;
  }
}

.news-slider__content a:nth-child(2n) {
  align-self: center;
  max-width: 30px;
  width: 30px;
  height: 30px;

  &:disabled {
    background-color: $color-mischka;
  }

  &:hover::after,
  &:focus-visible::after {
    background-color: $color-cerulean-blue;
    mask-image: url("../img/sprite/button-right-arrow.svg");
    width: 12px;
    height: 11px;
    outline: none;
  }

  &:active::after {
    opacity: 0.7;
  }

  &:disabled::after {
    background-color: $color-default-white;
    opacity: 0.6;
  }
}

.news-slider__content a:nth-child(2n)::after {
  top: 9px;
}

.news-slider__content-h3 {
  width: 80%;
}
