.programs__container {
  padding-top: 120px;
  padding-bottom: 123px;

  @include vp-1199 {
    padding-top: 98px;
    padding-right: 0;
    padding-bottom: 102px;
  }

  @include vp-767 {
    padding-top: 65px;
    padding-right: 15px;
    padding-bottom: 67px;
  }
}

.programs__swiper {
  display: flex;
  flex-wrap: wrap;
}

.programs__swiper h2 {
  width: 279px;
  padding-top: 5px;
  margin: 0 auto 0 0;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  color: $color-cerulean-blue;

  @include vp-1199 {
    font-size: 34px;
    line-height: 50px;
  }

  @include vp-767 {
    width: 111px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    order: 1;
  }
}

.programs__btn {
  width: 232px;
  padding-left: 30px;

  @include vp-1199 {
    max-width: unset;
    width: 32%;
    padding-left: 26px;
    margin-right: 45px;
  }

  @include vp-767 {
    order: 4;
    width: 70%;
    min-height: 42px;
    padding-left: 30px;
  }
}

.programs__btn span:nth-child(2n) {
  width: 46px;
  height: 46px;

  @include vp-767 {
    width: 34px;
    height: 34px;
  }
}

.programs__btn span:nth-child(1n) {
  @include vp-1199 {
    font-size: 14px;
    line-height: 14px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
  }
}

.programs__wrapper {
  padding-top: 45px;
  margin-bottom: 37px;

  @include vp-1199 {
    margin-bottom: 40px;
    padding-top: 40px;
  }

  @include vp-767 {
    order: 3;
    padding-top: 32px;
    margin-bottom: 29px;
    border-radius: 12px;
  }
}

.programs__move-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include vp-1199 {
    padding-right: 45px;
  }

  @include vp-767 {
    order: 2;
    width: 50px;
    padding-right: 0;
  }
}

.programs__scrollbar {
  width: 91.5%;
  height: 2px;
  background-color: $color-cerulean-blue-transparent;

  @include vp-767 {
    display: none;
  }
}

.programs__scrollbar .swiper-scrollbar-drag {
  background-color: $color-cerulean-blue;
}

.programs__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 54px;
  height: auto;
}

.programs__button-prev,
.programs__button-next {
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    border-radius: 50%;
  }

  & svg {
    stroke: $color-cerulean-blue;
  }

  &:active {
    background-color: $color-default-white;
    border-radius: 50%;

    & svg {
      opacity: 0.7;
    }
  }
}
