.programs-slider {
  position: relative;
  max-width: 392px;
  height: auto;
  border-radius: 12px;

  @include vp-1199 {
    max-width: unset;
  }
}

.programs-slider img {
  border-radius: 12px;
  object-fit: cover;

  @include vp-1199 {
    width: 100%;
    height: 100%;
  }

  @include vp-1199 {
    min-height: 400px;
    min-width: 290px;
    object-position: 0 0;
  }
}

.programs-slider__wrapper {
  position: absolute;
  content: "";
  bottom: 20px;
  left: 20px;
  width: 90%;

  @include vp-1199 {
    width: 87.5%;
    bottom: 19px;
  }

  @include vp-767 {
    width: 93.1%;
    left: 10px;
  }
}

.programs-slider__wrapper h3 {
  position: relative;
  width: 55%;
  border-radius: 12px 12px 0 0;
  padding: 14px 5% 2px 5%;
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  background-color: $color-default-white;
  color: $color-cerulean-blue;

  @media (min-width: 1200px) and (max-width: 1440px) {
    font-size: calc(19px + (24 - 19) * ( (100vw - 1200px) / ( 1440 - 1200) ));
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/sprite/angle-top.svg");
    width: 18px;
    height: 18px;
    left: 99%;
    bottom: 0;
  }

  @include vp-1199 {
    width: 61%;
    font-size: 20px;
    line-height: 24px;
    padding: 14px 6.2% 2px 6.2%;
  }

  @include vp-767 {
    width: 54%;
    font-size: 16px;
    line-height: 18px;
    padding: 18px 6.2% 7px 6.2%;
  }
}

.programs-slider__wrapper p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 91.1%;
  margin: -1px 0 0 0;
  padding: 20px 5% 23px 5%;
  background-color: $color-default-white;
  border-radius: 0 12px 12px 12px;

  @include vp-1199 {
    width: 93%;
    padding: 6px 6.3% 10px 6.3%;
  }

  @include vp-767 {
    width: 100%;
    padding-bottom: 24px;
  }
}

.programs-slider__wrapper--first p {
  padding-top: 11px;
  padding-bottom: 15px;

  @include vp-1199 {
    padding-top: 6px;
    padding-bottom: 11px;
  }

  @include vp-767 {
    padding-top: 11px;
    padding-bottom: 14px;
  }
}

.programs-slider__wrapper span:nth-child(1n) {
  width: 81.8%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: 1200px) and (max-width: 1440px) {
    font-size: calc(12px + (14 - 12) * ( (100vw - 1200px) / ( 1440 - 1200) ));
  }

  @include vp-1199 {
    width: 81%;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.programs-slider__wrapper a:nth-child(2n) {
  margin-top: 5px;
  max-width: 30px;
  width: 30px;
  height: 30px;

  &:disabled {
    background-color: $color-mischka;
  }

  &:hover::after,
  &:focus::after {
    background-color: $color-cerulean-blue;
    mask-image: url("../img/sprite/button-right-arrow.svg");
    width: 12px;
    height: 11px;
    outline: none;
  }

  &:active::after {
    opacity: 0.7;
  }

  &:disabled::after {
    background-color: $color-default-white;
    opacity: 0.6;
  }
}

.programs-slider__wrapper a:nth-child(2n)::after {
  top: 9px;

  @include vp-767 {
    top: 9px;
  }
}
