.reviews__container {
  padding-bottom: 122px;

  @include vp-1199 {
    padding-right: 0;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-right: 15px;
    padding-bottom: 27px;
  }
}

.reviews__swiper {
  display: flex;
  flex-direction: column;
  color: $color-cerulean-blue;

  @include vp-767 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.reviews__swiper h2 {
  margin: 0 0 45px 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;

  @include vp-1199 {
    margin-bottom: 40px;
    font-size: 34px;
    line-height: 50px;
    padding-right: 45px;
  }

  @include vp-767 {
    margin-bottom: 33px;
    width: 50%;
    order: 1;
    font-size: 20px;
    line-height: 20px;
  }
}

.reviews__wrapper {
  margin-bottom: 40px;

  @include vp-767 {
    order: 3;
  }
}

.reviews__slider {
  width: 40%;
  max-width: 604px;
  margin: 0;
  border: 1px solid $color-cerulean-blue;
  border-radius: 16px;

  @include vp-1199 {
    max-width: unset;
  }
}


.reviews__move-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include vp-1199 {
    padding-right: 45px;
  }

  @include vp-767 {
    order: 2;
    width: 50px;
    padding-right: 0;
    align-items: start;
  }
}

.reviews__scrollbar {
  width: 91.5%;
  height: 2px;
  background-color: $color-cerulean-blue-transparent;

  @include vp-767 {
    display: none;
  }
}

.reviews__scrollbar .swiper-scrollbar-drag {
  background-color: $color-cerulean-blue;
}

.reviews__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 54px;
  height: auto;
}

.reviews__button-prev,
.reviews__button-next {
  display: flex;
  align-items: center;
  height: 22px;
  width: 22px;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    border-radius: 50%;
  }

  & svg {
    stroke: $color-cerulean-blue;
  }

  &:active {
    background-color: $color-default-white;
    border-radius: 50%;

    & svg {
      opacity: 0.7;
    }
  }
}
