.reviews-slider {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  height: auto;
  padding: 50px 4% 39px 4%;

  @include vp-1199 {
    row-gap: 23px;
    padding: 50px 6.7% 35px 6.8%;
  }

  @include vp-767 {
    row-gap: 25px;
    padding: 28px 14px 0 14px;
  }
}

.reviews-slider__personal-date {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include vp-767 {
    flex-direction: column;
    row-gap: 14px;
  }
}

.reviews-slider__personal-img-name {
  display: flex;
  align-items: center;
  column-gap: 15px;
  width: 179px;
  max-width: 179px;

  @include vp-767 {
    column-gap: 9px;
  }
}

.reviews-slider__personal-img-name--second {
  width: 194px;
  max-width: 194px;
}

.reviews-slider__personal-img-name img {
  min-width: 90px;
  width: 100%;

  @include vp-767 {
    width: 60px;
    height: 60px;
    min-width: 60px;
  }
}

.reviews-slider__personal-img-name p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  @include vp-1199 {
    font-size: 20px;
  }

  @include vp-767 {
    width: 30%;
    font-size: 14px;
    line-height: 18px;
  }
}

.reviews-slider__personal-program-date {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 10.9%;
  width: 229px;

  @include vp-767 {
    width: 100%;
    column-gap: 25px;
    justify-content: start;
  }
}

.reviews-slider__personal-program-date--second {
  width: 211px;
  column-gap: 12.5%;

  @include vp-767 {
    width: 100%;
    column-gap: unset;
    justify-content: space-between;
  }
}

.reviews-slider__personal-program-date-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 7px;

  @include vp-767 {
    width: 49%;
  }
}

.reviews-slider__personal-program-date-wrapper--first,
.reviews-slider__personal-program-date-wrapper--second {
  @include vp-767 {
    width: 108px;
  }
}

.reviews-slider__personal-program-date-wrapper h3 {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}

.reviews-slider__personal-program-date-wrapper p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: 1200px) and (max-width: 1440px) {
    font-size: calc(12px + (14 - 12) * ( (100vw - 1200px) / ( 1440 - 1200) ));
  }

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.reviews-slider__content p {
  margin: 0 0 15px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 17px;
  }

  @include vp-767 {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 18px;
  }
}

.reviews-slider__content span {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  @include vp-1199 {
    width: 100%;
    display: block;
    min-height: 112px;
    font-size: 16px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }
}

.reviews-slider__content-br br {
  display: none;

  @include vp-1199 {
    display: block;
  }
}
