.user-contacts__container {
  display: flex;
  justify-content: start;
  max-width: 1440px;
  color: $color-default-white;
  padding-top: 120px;
  padding-bottom: 120px;
  border-radius: 16px;


  @include vp-1199 {
    padding-top: 99px;
    padding-bottom: 99px;
  }

  @include vp-767 {
    padding-top: 67px;
  }
}

.user-contacts__content {
  width: 100%;
  height: 100%;
  position: relative;
}

.user-contacts__img {
  position: absolute;
  content: "";
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  @include vp-767 {
    display: none;
  }
}

.user-contacts__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.user-contacts__wrapper {
  max-width: 498px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: $color-cerulean-blue;
  padding: 81px 73px 50px 73px;
  margin: 0;

  @include vp-1199 {
    max-width: unset;
    width: 65.2%;
    padding: 61px 45px 56px 45px;
  }

  @include vp-767 {
    width: 100%;
    padding: 51px 15px 48px 15px;
  }
}

.user-contacts__wrapper p:nth-child(2n) {
  width: 100%;
  margin: 0 0 29px 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;

  @include vp-1199 {
  font-size: 28px;
  line-height: 28px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 17px;
  }
}

.user-contacts__wrapper p:nth-child(3n) {
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @include vp-1199 {
    max-width: 350px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }
}

.user-contacts__inner-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  @include vp-1199 {
    row-gap: 16px;
  }

  @include vp-767 {
    row-gap: 20px;
  }
}

.user-contacts__inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.user-contacts__textarea {
  @include vp-1199 {
    margin: 0;
  }
}

.user-contacts__inner-wrapper label {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $color-default-white;
  opacity: 0.8;

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.user-contacts__textarea label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.user-contacts__btn {
  background-color: $color-cerulean-blue;
  border: 1px solid $color-default-white;
  width: 100%;

  @include vp-767 {
    min-height: 42px;
  }
}

.user-contacts__btn span:nth-child(1n) {
  color: $color-default-white;
  width: 87%;
  text-align: center;
  padding-right: 15px;

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
    padding-right: 19px;
  }
}

.user-contacts__btn span:nth-child(2n) {
  width: 46px;
  height: 46px;
  background-color: $color-default-white;

  &::after {
    content: "";
    mask-image: url("../img/sprite/diagonal-arrow.svg");
    background-color: $color-cerulean-blue;
    width: 10px;
    height: 10px;
  }

  @include vp-767 {
    width: 34px;
    height: 34px;
  }
}

.user-contacts__checkbox label {
  opacity: 1;

  @include vp-767 {
    padding-left: 30px;
  }
}

.user-contacts__checkbox-label {
  opacity: 0.8;
}