.user-contacts__container {
  display: flex;
  justify-content: start;
  max-width: 1440px;
  color: $color-default-white;
  padding-top: 120px;
  padding-bottom: 57px;
  border-radius: 16px;


  @include vp-1199 {
    padding-top: 99px;
    padding-bottom: 59px;
  }

  @include vp-767 {
    padding-top: 67px;
    padding-bottom: 29px;
  }
}

.user-contacts__content {
  width: 100%;
  height: 100%;
  position: relative;
}

.user-contacts__img {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  @include vp-767 {
    display: none;
  }
}

.user-contacts__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.user-contacts__wrapper {
  max-width: 498px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: $color-cerulean-blue;
  padding: 81px 73px 50px 73px;
  margin: 0;

  @include vp-1199 {
    max-width: unset;
    width: 65.2%;
    padding: 61px 45px 56px 45px;
  }

  @include vp-767 {
    width: 100%;
    padding: 51px 15px 48px 15px;
  }
}

.user-contacts__write-us {
  width: 100%;
  margin: 0 0 29px 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;

  @include vp-1199 {
    font-size: 28px;
    line-height: 28px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 17px;
  }
}

.user-contacts__text {
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $color-alabaster;
  opacity: 0.9;

  @include vp-1199 {
    max-width: 350px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }
}

.user-contacts__inner-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 12px;

  @include vp-1199 {
    row-gap: 16px;
  }

  @include vp-767 {
    row-gap: 20px;
  }
}

.user-contacts__input input {
  min-height: 48px;
  height: 48px;
  opacity: 0.8;
  padding: 16px 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: $color-default-white;
  order: 2;
  cursor: pointer;

  &:disabled {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);


    & + label {
      color: $color-alabaster;
      opacity: 0.6;
    }
  }

  &:hover {
    border: 1px solid $color-default-white;

    & + label {
      color: $color-alabaster;
      opacity: 1;
    }
  }

  &:focus,
  &:focus-visible,
  &:active {
    border: 1px solid $color-default-white;
    outline: none;
    cursor: text;

    & + label {
      color: $color-alabaster;
      opacity: 1;
    }
  }
}

.user-contacts__input label {
  order: 1;
}

.user-contacts__textarea {
  display: flex;

  @include vp-1199 {
    margin: 0;
  }
}

.user-contacts__textarea label {
  order: 1;
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.user-contacts__textarea textarea {
  padding: 16px 25px;
  color: $color-default-white;
  font-size: 16px;
  opacity: 0.8;
  order: 2;

  &:disabled {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);


    & + label {
      color: $color-alabaster;
      opacity: 0.6;
    }
  }

  &:hover {
    border: 1px solid $color-default-white;

    & + label {
      color: $color-alabaster;
      opacity: 1;
    }
  }

  &:focus,
  &:focus-visible,
  &:active {
    border: 1px solid $color-default-white;
    outline: none;
    cursor: text;

    & + label {
      color: $color-alabaster;
      opacity: 1;
    }
  }
}

.user-contacts__inner-wrapper label {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $color-alabaster;
  opacity: 0.8;

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.user-contacts__btn {
  width: 100%;

  @include vp-767 {
    min-height: 42px;
  }
}

.user-contacts__btn span:nth-child(1n) {
  width: 87%;
  text-align: center;
  padding-right: 15px;

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
    padding-right: 19px;
  }
}

.user-contacts__btn span:nth-child(2n) {
  width: 46px;
  height: 46px;

  @include vp-767 {
    width: 34px;
    height: 34px;
  }
}

.user-contacts__checkbox {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  cursor: unset;
  z-index: 1;
}

.user-contacts__checkbox label {
  opacity: 1;
  padding-left: 30px;

  @include vp-767 {
    padding-left: 30px;
  }
}

.user-contacts__checkbox-label {
  color: $color-default-white;
  opacity: 0.9;
}

.user-contacts__select {
  position: relative;
}

.user-contacts__select-list {
  position: absolute;
  left: 0;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: auto;
  max-height: 162px;
  z-index: 2;
  order: 3;
}

.user-contacts__select-item {
  color: $color-default-charcoal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  padding: 17px 20px;
  background-color: $color-default-white;

  &:hover {
    color: $color-cerulean-blue;
    background-color: $color-default-white;
  }

  &:focus,
  &:focus-visible,
  &:active {
    color: $color-default-white;
    background-color: $color-cerulean-blue;
    outline: none;
  }
}

.user-contacts__item[aria-selected="true"] {
  background-color: $color-default-white;
}

.user-contacts__button-select {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 17px 20px;
  margin-bottom: 6px;
  height: 50px;
  min-height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: $color-default-charcoal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  background-color: transparent;
  border-radius: 5px;
  outline: 0;
  order: 2;
  cursor: pointer;

  &:disabled {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  &:hover {
    outline: none;
    border: 1px solid $color-default-white;
  }

  &:focus,
  &:focus-visible,
  &:active {
    outline: none;
    border: 1px solid $color-default-white;

    & .user-contacts__select-text {
      color: $color-alabaster;
      opacity: 1;
    }
  }

  &:hover + p,
  &:focus + p,
  &:focus-visible + p {
    outline: none;
    color: $color-alabaster;
    opacity: 1;
  }

  @include vp-767 {
    min-height: 44px;
    height: 44px;
  }
}

.user-contacts__select-text {
  color: $color-alabaster;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.user-contacts__select-icon {
  background-color: $color-default-white;
  opacity: 1;
  flex-shrink: 0;
  width: 14px;
  height: 8px;
  margin-left: auto;
}

.is-open .user-contacts__button-select {
  border: 1px solid $color-default-white;
}

.user-contacts__select p {
  color: $color-alabaster;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  opacity: 0.8;
  order: 1;
}

.user-contacts__toggle-icon {
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  width: 20px;
  height: 20px;
  top: 6px;
  cursor: pointer;

  @include vp-767 {
    top: 12px;
  }

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    border: 1px solid $color-default-white;
    opacity: 1;
    outline: none;
  }
}

.user-contacts__toggle-icon::before {
  width: 10px;
  height: 10px;
}

.custom-toggle input:checked + .user-contacts__toggle-icon::before {
  width: 10px;
  height: 10px;
  background-color: $color-cerulean-blue;
}

.custom-toggle input:checked + .user-contacts__toggle-icon {
  border: 1px solid $color-default-white;
  background-color: $color-default-white;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $color-cerulean-blue;

    &::before {
      background-color: $color-default-white;
    }
  }
}
